{% extends 'layout/master.html' %}
{% block content %}
<div class="container mt-5">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" name='name' value="{{student.name}}" class="form-control" id="">
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="number" name='age' value="{{student.age}}" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea type="text" name='content' class="form-control" id="">{{student.content}}</textarea>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock content %}